In [11]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
with open('data.json') as f:
    data = json.load(f)

In [7]:
steps = []
containers_load_time = []
airplane_80_load_time = []
airplane_140_load_time = []

for k, v in data.items():
    for item in v:
        steps.append(k)
        containers_load_time.append(item[0])
        airplane_80_load_time.append(item[1]['80'])
        airplane_140_load_time.append(item[1]['140'])    
        
df = pd.DataFrame({'steps': steps, 'containers_load_time': containers_load_time,
                   'airplane_80_load_time': airplane_80_load_time, 'airplane_140_load_time': airplane_140_load_time})
df['steps'] = df['steps'].astype('int32')
df['airplane_80_load_time'] = df['airplane_80_load_time'].apply(lambda x: x[0])
df['airplane_140_load_time'] = df['airplane_140_load_time'].apply(lambda x: x[0])
df.head(7)

   steps  containers_load_time  airplane_80_load_time  airplane_140_load_time
0    300                   0.0                  70.50                   190.0
1    300                   0.0                  75.25                   190.0
2    300                   0.0                  80.00                   225.0
3    300                   0.0                  80.00                   225.0
4    300                   0.0                  80.00                   225.0
5    300                   0.0                  80.00                   225.0
6    300                   0.0                  67.40                   190.0

In [10]:
df = df.groupby('steps').agg({'containers_load_time': np.mean, 'airplane_80_load_time': np.mean, 'airplane_140_load_time': np.mean}).reset_index(drop=False)
df.head(5)

   steps  containers_load_time  airplane_80_load_time  airplane_140_load_time
0    300              0.000000              77.572000                  215.20
1    350              0.015647              75.960000                  229.80
2    400              0.006737              79.218667                  230.60
3    450              0.016526              76.314667                  228.56
4    500              0.295753              77.577143                  180.92

In [ ]:
fig, ax = plt.subplots(1, 3, figsize=(18, 3))
sns.lineplot(data=df, x='steps', y='containers_load_time', ax=ax[0])
sns.lineplot(data=df, x='steps', y='airplane_80_load_time', ax=ax[1])
sns.lineplot(data=df, x='steps', y='airplane_140_load_time', ax=ax[2])
plt.show()